Flask
Flask-Login
Flask-SQLAlchemy
Flask-Migrate
Flask-Limiter
Flask-SocketIO
python-dotenv
gunicorn
bcrypt
requests
Flask-Cors
Flask-HTTPAuth
alembic
SQLAlchemy
Werkzeug
Jinja2
itsdangerous
MarkupSafe
click
python-engineio
python-socketio
limits
bidict
Flask-WTF
reportlab
openpyxl
celery
Flask-Mail
qrcode
pillow